@media (max-width: 1199px) {
    .get_start {
        #mc_embed_signup {
            .mc-field-group {
                width: 187px;
            }
        }
    }
}
@media (max-width: 1023px) {
    .body-index {
        height: 424px;
        .left-panel {
            height: 424px;
            .panel-pos {
                bottom: 40px;
            }
        }
    }
    .instantly {
        .instantly-text {
            .i-text {
                padding: 100px 0;
                font-size: 18px;
                h2 {
                    font-size: 40px;
                    line-height: 48px;
                }
            }
        }
        .iphones {
            float: right;
            .iphone6_1 {
                top: -65px; right: 187px;
                width: 212px; height: 500px;
                background-size: contain;
            }
            .iphone6_2 {
                top: -30px; right: 0px;
                width: 229px; height: 455px;
                background-size: contain;
            }
        }
    }

    .who_is {
        
        .text {
            font-size: 18px;
            padding: 100px 0;
            h2 {
                font-size: 40px;
                line-height: 48px;
                margin-top: 0;
            }
        }
    }
    .get_start {
        padding: 100px 0;
    }
}
@media (max-width: 991px) {
    .instantly {
        .instantly-text {
            .i-text {
                padding: 25px 0;
                font-size: 16px;
                h2 {
                    font-size: 20px;
                    line-height: 28px;
                    margin: 0;
                }
            }
        }
        .iphones {
            display: none;
        }
    }
    .how_it_works {
        padding: 20px 0 0 0;
        h2 {
            font-size: 20px;
            line-height: 28px;
        }
    }
    .who_is {
        .text {
            font-size: 16px;
            padding: 15px 0;
            h2 {
                font-size: 20px;
                line-height: 28px;
                margin: 0;
            }
        }
    }
    .get_start {
        padding: 20px 0 30px 0;
        h2 {
            font-size: 20px;
            line-height: 28px;
            margin: 0;
        }
        #mc_embed_signup {
            .mc-field-group {
                width: 320px;
            }
        }
    }
}
@media (max-width: 875px) {

}
@media (max-width: 767px) {
    .get_start {
        #mc_embed_signup {
            width: 415px;
            margin: 0 auto;
            div.mce_inline_error {
                font-size: 12px;
                font-weight: bold;
            }
            .mc-field-group {
                &.first {
                    width: 415px;
                }
                &.second {
                    width: 339px;
                }
            }
        }
    }
}
@media (max-width: 479px) {
    .get_start {
        #mc_embed_signup {
            width: 346px;
            margin: 0 auto;
            .mc-field-group {
                &.first {
                    width: 346px;
                }
                &.second {
                    width: 270px;
                }
            }
        }
    }
}
@media (max-width: 379px) {
  header {
    .logo {
        background: url("../img/logomini.png") top center no-repeat;
        background-size:contain;
        span {
            left: 78px;
        }
    }    

    .email-quest {
        display:none;
    }

    &.main {
        .logo {
            margin-top: 7px;
            margin-left:10px;
            height:41px;
            width:40px;
            background: url("../img/logo.png") top center no-repeat;   
            background-size:contain;         

            span {
                top: 39px;
                font-size: 13px;
                left: 0;
                white-space: normal;
            }
        }
        .email-quest {
            display:block;
        }
    }
  }

  .body-index {
    .left-panel {
      .panel-pos {
        div {
          font-size: 18px;
        }      
        a {
          font-size: 46px;
        }
      }
    }
  }
  .get_start {
        #mc_embed_signup {
            width: 290px;
            margin: 0 auto;
            .mc-field-group {
                &.first {
                    width: 290px;
                }
                &.second {
                    width: 214px;
                }
            }
        }
    }
}
/*
@media (max-height: 400px) {
  .body-index {
    .left-panel {
      .panel-pos {
          bottom: 20px;

        div {
          font-size: 18px;
          padding:10px;
        }      
        a {
          font-size: 26px;
          padding:10px;
        }
      }
    }
  }


}

@media (max-height: 260px) {
  .body-index {
    .left-panel {
      .panel-pos {
          bottom: 10px;

        div {
          font-size: 14px;
          padding:2px 10px;
        }      
        a {
          font-size: 18px;
          padding:2px 10px;
        }
      }
    }
  }


}
    */