@import "../css/fonts.css";
body {
  min-width: 320px;
}
header {
  position: relative;
  min-height: 88px;
  background: #00aeef;

  .logo {
    display: block;
    position: relative;
    float: left;
    margin-top: 10px;
    background: url("../img/logo.png") top center no-repeat;
    width: 65px;
    height: 67px;

    span {
      position: absolute;
      top: 25px; left: 70px;
      text-decoration: none;
      font-size: 21px;
      color: #fff;
      font-family: "OpenSansBold";
      white-space: nowrap;
    }
  }
  .email-quest {
    position: relative;
    float: right;
    font-size: 12px;
    color: #fff;
    font-family: "OpenSansBold";
    margin-top: 25px;
    a {
      color: #f2d433;
    }
  }

}
.body-index {
  position: relative;
  height: 624px;
  background: url("../img/index-bg.png") top center no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  .left-panel {
    position: relative;
    height: 624px;
    .panel-pos {
      position: absolute;
      bottom: 240px; left: 0;
      width: 100%;
      div {
        border-top: 1px solid #4695b6;
        position: relative;
        margin-bottom: 10px;
        background: #01aef0;
        padding: 20px;
        font-family: OpenSansLightRegular;
        font-size: 28px;
        color: #fff;
      }
      a {
        border-top: 1px solid #4695b6;
        display: block; position: relative;
        background: #01aef0;
        color: #f2d433;
        padding: 20px;
        font-size: 56px;
        &:hover {
            text-decoration: none;
            background: #00B9FF;
        }
      }
    }
  }
}
.body-map {
  position: relative;
  #map-canvas {
    height: 100%;
  }
  .search-wrapper-top {
    position: absolute;
    top: 15px; left: 0;
    width: 100%;
    z-index: 100;
    .form-control.text-search {
      padding-right: 33px;
      font-family: OpenSansLightRegular;
    }
    .refresh {
      display: block; position: absolute;
      top: 6px; right: 22px;
      width: 20px; height: 20px;
    }
    .appoint {
      position: absolute; top: 34px; left: 50%;
      font-family: OpenSansLightRegular;
      color: #01aef0;
      font-size: 11px;
      background: #fcd307;
      padding: 3px 15px;
      margin-left: -79px;
      -moz-border-radius: 0 0 3px 3px;
      -webkit-border-radius: 0 0 3px 3px; /* Safari, Chrome */
      -khtml-border-radius: 0 0 3px 3px; /* KHTML */
      border-radius: 0 0 3px 3px; /* CSS3 */
    }
  }
  .search-wrapper-bottom {
    position: absolute;
    bottom: 15px; left: 50%;
    width: 200px; height: 34px;
    margin: 0 0 0 -100px;
    z-index: 100;
    .set-location {
      display: block;
      position: relative;
      width: 200px; height: 34px;
      background: #00adef;
      border: none;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; /* Safari, Chrome */
      -khtml-border-radius: 3px; /* KHTML */
      border-radius: 3px; /* CSS3 */
      font-family: "OpenSansSemiboldRegular"; color: #fff; font-size: 20px;
      padding: 0px;
      i {
        display: inline-block;
        width: 20px; height: 20px;
        background: url("../img/arrow.png");
        vertical-align: -3px;
      }
    }
  }

}

.body-order {
    padding-top:20px;
    font-family: "Arial";
}

.instantly {
    position: relative;
    /*height: 670px;*/
    .instantly-text {
        .i-text {
            position: relative;
            padding: 145px 0 170px 0;
            color: #0aa9e1;
            font-size: 20px;
            h2 {
                font-family: OpenSansLightRegular;
                font-size: 44px;
                line-height: 55px;
                color: #127ca3;
            }
            a {
                color: #ffd200;
            }
        }
    }
    .iphones {
        float: right;
        .iphone6_1 {
            position: absolute;
            top: -100px; right: 258px;
            width: 288px; height: 680px;
            background: url("../img/iphone6_1.png") no-repeat;
            z-index: 2;
        }
        .iphone6_2 {
            position: absolute;
            top: -65px; right: 0px;
            width: 319px; height: 635px;
            background: url("../img/iphone6_2.png") no-repeat;
            z-index: 1;
        }
    }
}
.how_it_works {
    position: relative;
    background: url("../img/how_bg.jpg") top center no-repeat;
    background-size: cover;
    padding: 90px 0 45px 0;
    h2 {
        font-family: OpenSansLightRegular;
        font-size: 32px;
        line-height: 32px;
        color: #127ca3;
        text-align: center;
        margin: 0 0 50px 0;
    }
    .steps {
        text-align: center;
        margin-bottom: 45px;
        .mobile-ico {
            display: block; position: relative;
            width: 59px; height: 102px;
            background: url("../img/mob-ico.png") no-repeat;
            margin: 0 auto 25px auto;
        }
        .clock-ico {
            display: block; position: relative;
            width: 91px; height: 102px;
            background: url("../img/clock-ico.png") no-repeat;
            margin: 0 auto 25px auto;
        }
        .ok-ico {
            display: block; position: relative;
            width: 83px; height: 102px;
            background: url("../img/hand-ico.png") no-repeat;
            margin: 0 auto 25px auto;
        }
        h3 {
            font-family: OpenSansExtraboldRegular; text-transform: uppercase;
            font-size: 15px;
            color: #01aef0;
        }
        p {
            font-size: 12px;
            color: #808080;
            margin: 0 0 0 0;
        }
    }
}
.get_start {
    position: relative;
    padding: 225px 0;
    background: url("../img/subs_bg.jpg") center center no-repeat;
    background-size: cover;
    text-align: center;
    h2 {
        font-family: OpenSansLightRegular;
        font-size: 32px;
        line-height: 32px;
        color: #fff;
        text-align: center;
        margin: 0 0 10px 0;
    }
    p {
        color: #fff;
    }
    #mc_embed_signup {
        div#mce-success-response {
            font-size: 12px;
            font-weight: bold;
            color: rgb(9, 103, 138);
            margin-bottom: 8px;
            display: block;
        }
        div.mce_inline_error {
            position: relative;
            font-size: 11px;
            background: none;
            color: #ffffff;
            font-weight: normal;
            padding: 5px 0;
            text-align: left;
            margin: 0;
        }
        .send_mailchimp {
            float: left;
            width: 76px;
            height: 76px;
            background: url("../img/send.png") center center no-repeat;
            background-size: inherit;
            border: none;
            border-radius: 0;
            &.load {
                background: #0081b2 url("../img/load.gif") center center no-repeat;
            }
        }
        .required {
            border-radius: 0;
        }
        .mc-field-group {
            float: left;
            width: 234px;
            margin-bottom: 10px;
            .required {
                width: 100%;
                height: 76px;
                border: none;
                padding: 0 4%;
                font-family: OpenSansLightRegular;
                font-size: 20px;
                color: #6B6B6B;
            }
        }
        .mc-field-group.first {
            margin-right: 4px;
        }
    }
     
}

.who_is {
    position: relative;
    .text {
        text-align: center;
        color: #0aa9e1;
        font-size: 20px;
        padding: 150px 0;
        h2 {
            font-family: OpenSansLightRegular;
            font-size: 44px;
            line-height: 55px;
            color: #127ca3;
        }
    }
}
.footer {
    position: relative;
    height: 74px;
    background: #e6e7e9;
    .footer_logo {
        display: block; position: absolute;
        top: 13px; left: 0;
        width: 49px; height: 51px;
        background: url("../img/logo_footer.png") center center no-repeat;
        background-size: cover;
    }
    .copyright {
        position: relative;
        font-size: 12px; color: #0aa9e1;
        text-align: right;
        padding-top: 23px;
    }
}