﻿@using KoduCare.ViewModels
@{
    SiteLocation siteLocation = (SiteLocation)ViewBag.SiteLocation;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>Kodu Care - @ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="/Content/css/bootstrap.css" rel="stylesheet">
    <link href="/Content/less/style.less" rel="stylesheet">
    <link href="/Content/less/responsive.less" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header class="@(siteLocation.Controller=="Home"?"main":"")">
        <div class="container">
            <a href="/" class="logo"><span>KODU CARE</span></a>
            <div class="email-quest">
                <div>Questions? email us at</div>
                <a href="mailto:info@koducare.com">info@koducare.com</a>
            </div>
        </div>
    </header> 
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.scrollTo-1.4.3.1.js")
    @Scripts.Render("~/Scripts/common.js")

    @RenderSection("scripts", required: false)
</body>
</html>