﻿@using KoduCare.Domain
@model Order
@{
    ViewBag.Title = "AddOrder";
}

<div class="body-order">    
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <p>Thank you for order from: <br />@(!string.IsNullOrEmpty(Model.UserAddressFormatted) ? Model.UserAddressFormatted : Model.UserAddressAuto)</p>
            <p>Sincerally, <br />@ViewBag.UserTexts["ABC"]</p>
        </div>
    </div>
</div>

