﻿@using KoduCare.ViewModels
@{
    ViewBag.Title = "Index";
    SiteLocation siteLocation = (SiteLocation)ViewBag.SiteLocation;
}

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    @Scripts.Render("~/Scripts/views/orders.js?v=2")
    @Scripts.Render("~/Scripts/geocode.js")
}


<div class="body-map">
    <form method="post" action="@Url.Action("AddOrder")">
        <input type="hidden" name="UserLat" id="UserLat" />
        <input type="hidden" name="UserLng" id="UserLng" />
        <input type="hidden" name="UserLatAuto" id="UserLatAuto" />
        <input type="hidden" name="UserLngAuto" id="UserLngAuto" />

        <input type="hidden" name="UserAddressAuto" id="UserAddressAuto" value="" />
        <input type="hidden" name="UserAddressFormatted" id="UserAddressFormatted" value="" />

        <div class="search-wrapper-top">
            <div class="container">
                <div class="col-md-6 col-md-offset-3">
                    <input type="text" class="form-control text-search" name="UserAddress" id="UserAddress">
                    <a href="#" class="refresh"><img src="/Content/img/refresh.png"></a>
                </div>
            </div>
            <div class="appoint">APPOINTMENT LOCATION</div>
        </div>
        <div class="search-wrapper-bottom">
            <button type="submit" class="set-location">SET LOCATION <i></i></button>
        </div>
    </form>
    <div id="map-canvas"></div>
</div>
