
@font-face {
    font-family: 'OpenSansBold';
    src: url('../css/fonts/osans/opensans-bold.eot');
    src: url('../css/fonts/osans/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/osans/opensans-bold.woff') format('woff'),
         url('../css/fonts/osans/opensans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('../css/fonts/osans/opensans-bolditalic.eot');
    src: url('../css/fonts/osans/opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/osans/opensans-bolditalic.woff') format('woff'),
         url('../css/fonts/osans/opensans-bolditalic.ttf') format('truetype');
    font-weight: bold;
}




@font-face {
    font-family: 'OpenSansExtraboldRegular';
    src: url('../css/fonts/osans/opensans-extrabold.eot');
    src: url('../css/fonts/osans/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/osans/opensans-extrabold.woff') format('woff'),
         url('../css/fonts/osans/opensans-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('../css/fonts/osans/opensans-extrabolditalic.eot');
    src: url('../css/fonts/osans/opensans-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/osans/opensans-extrabolditalic.woff') format('woff'),
         url('../css/fonts/osans/opensans-extrabolditalic.ttf') format('truetype');
    font-weight: normal;
}




@font-face {
    font-family: 'OpenSansItalic';
    src: url('../css/fonts/osans/opensans-italic.eot');
    src: url('../css/fonts/osans/opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/osans/opensans-italic.woff') format('woff'),
         url('../css/fonts/osans/opensans-italic.ttf') format('truetype');
    font-weight: normal;
}




@font-face {
    font-family: 'OpenSansLightRegular';
    src: url('../css/fonts/osans/opensans-light.eot');
    src: url('../css/fonts/osans/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/osans/opensans-light.woff') format('woff'),
         url('../css/fonts/osans/opensans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../css/fonts/osans/opensans-lightitalic.eot');
    src: url('../css/fonts/osans/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/osans/opensans-lightitalic.woff') format('woff'),
         url('../css/fonts/osans/opensans-lightitalic.ttf') format('truetype');
    font-weight: normal;
}




@font-face {
    font-family: 'OpenSansRegular';
    src: url('../css/fonts/osans/opensans-regular.eot');
    src: url('../css/fonts/osans/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/osans/opensans-regular.woff') format('woff'),
         url('../css/fonts/osans/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'OpenSansSemiboldRegular';
    src: url('../css/fonts/osans/opensans-semibold.eot');
    src: url('../css/fonts/osans/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/osans/opensans-semibold.woff') format('woff'),
         url('../css/fonts/osans/opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('../css/fonts/osans/opensans-semibolditalic.eot');
    src: url('../css/fonts/osans/opensans-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/osans/opensans-semibolditalic.woff') format('woff'),
         url('../css/fonts/osans/opensans-semibolditalic.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url('../css/fonts/osans/open_sans_condensed_light.eot');
    src: url('../css/fonts/osans/open_sans_condensed_light.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/osans/open_sans_condensed_light.woff') format('woff'),
         url('../css/fonts/osans/open_sans_condensed_light.ttf') format('truetype'),
         url('../css/fonts/osans/open_sans_condensed_light.svg#OpenSansCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;

}